[submodule "Genesis"]
	path = Genesis
	url = git@github.com:strictness/Genesis.git
[submodule "haskell-thunk-leak-zoo"]
	path = haskell-thunk-leak-zoo
	url = git@github.com:remysucre/haskell-thunk-leak-zoo.git
[submodule "repo-inbox"]
	path = repo-inbox
	url = git@github.com:remysucre/repo-inbox.git
[submodule "comp150-FP"]
	path = comp150-FP
	url = git@github.com:remysucre/comp150-FP.git
[submodule "strict-experiments"]
	path = strict-experiments
	url = git@github.com:remysucre/strict-experiments.git
